<section class="container-fluid boost-prod">

  <div class="container boost-prod__content">

    <div class="boost-prod__info">
      <h2 class="boost-prod__title section-title">
        Boost your productivity. Start using workflow today.
      </h2>
      <p class="boost-prod__desc">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint
        velit officia consequat duis enim velit mollit.
      </p>
      <button class="btn btn__default btn__indigo btn__sign-up-free btn__white">
        Sign up for free
      </button>
    </div>

  </div>

</section>