<footer class="container-fluid footer">

  <div class="container footer__content">

    <div class="footer__info">
      <a href="/" class="header__logo logo">
        <img
          src="/img/dlex-logo-indigo.svg"
          width="88"
          height="36"
          alt="dlex logo indigo icon"
        />
      </a>
      <p class="footer__desc">
        Making the world a better place through constructing elegant hierarchies
      </p>
      <div class="footer__social">
        <a href="#fb" target="_blank" class="footer__social-item" title="Facebook">
          <img src="/img/icons/fb.svg" width="24" height="24" alt="fb" />
        </a>
        <a href="#twitter" target="_blank" class="footer__social-item" title="Twitter">
          <img
            src="/img/icons/twitter.svg"
            width="24"
            height="24"
            alt="twitter"
          />
        </a>
        <a href="#inst" target="_blank" class="footer__social-item" title="Instagram">
          <img src="/img/icons/inst.svg" width="24" height="24" alt="inst" />
        </a>
        <a href="#github" target="_blank" class="footer__social-item" title="Github">
          <img
            src="/img/icons/github.svg"
            width="24"
            height="24"
            alt="github"
          />
        </a>
      </div>
    </div>

    <nav class="footer__nav">

      <div class="footer__nav-list">
        <h3 class="footer__nav-title footer__nav-txt">Solutions</h3>
        <ul class="footer__nav-list-content">
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Marketing
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Analytics
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Commerce
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Insights
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__nav-list">
        <h3 class="footer__nav-title footer__nav-txt">Support</h3>

        <ul class="footer__nav-list-content">
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Pricing
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Documentation
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Guides
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              API Status
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__nav-list">
        <h3 class="footer__nav-title footer__nav-txt">Company</h3>
        <ul class="footer__nav-list-content">

          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              About
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Blog
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Jobs
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Press
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Partners
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__nav-list">
        <h3 class="footer__nav-title footer__nav-txt">Legal</h3>

        <ul class="footer__nav-list-content">
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Claim
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Privacy
            </a>
          </li>
          <li class="footer__nav-elem">
            <a
              class="footer__nav-link footer__nav-txt"
              href="#"
              target="_blank"
            >
              Terms
            </a>
          </li>
        </ul>
      </div>

    </nav>

  </div>

  <div class="container footer__rights">
    <span class="footer__rights-content">© 2025 Dlex, Inc. All rights reserved</span>
  </div>

</footer>
