<header class="container-fluid header">

  <div class="container header__inner">

    <div class="header__content">
      <a href="/" class="header__logo logo">
        <img src="/img/dlex-logo.svg" width="125" height="25" alt="dlex logo" />
      </a>

      <nav class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a class="header__menu-link" href="#poezdki">Product</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#poezdki">Features</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#poezdki">Marketplace</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#poezdki">Company</a>
          </li>
        </ul>
      </nav>

      <div class="header__burger">
        <img
          class="burger-open"
          src="/img/icons/burger.svg"
          width="45"
          height="45"
          alt=""
        />
        <img
          class="burger-close"
          src="/img/icons/close.svg"
          width="45"
          height="45"
          alt=""
        />
      </div>

    </div>

    <div class="header__buttons">
      <button class="btn btn__default btn__sign-in">Sign In</button>
      <button class="btn btn__default btn__sign-up">Sign Up</button>
    </div>

  </div>

</header>
