<section class="container-fluid offer">

  <div class="container offer__content">

    <div class="offer__title-wrap">
      <div class="offer__fly-pizza offer__icon">
        <img
          src="/img/icons/pizza.svg"
          width="34"
          height="34"
          alt="pizza icon"
        />
      </div>

      <h1 class="offer__title">Have no fear of perfection, you'll never reach
        it.</h1>

      <div class="offer__fly-memoji offer__icon">
        <img
          src="/img/icons/memoji.svg"
          width="35"
          height="35"
          alt="memoji icon"
        />
      </div>
    </div>

    <p class="offer__desc">
      Create interactive user flow diagrams that tell a story.
    </p>

    <div class="offer__video-wrapper">

      <div class="offer__fly-elems">

        <div class="offer__fly-voucher">

          <div class="offer__icon offer__fly-gift">
            <img
              src="/img/icons/gift.svg"
              width="24"
              height="24"
              alt="gift icon"
            />
          </div>

          <div class="offer__fly-col">
            <span class="offer__fly-title">Voucher</span>
            <span class="offer__fly-desc">+$10, 000</span>
          </div>
        </div>

        <div class="offer__fly-sucess-sent">

          <div class="offer__fly-sucess-sent-content">
            <div class="offer__icon offer__fly-calendar">
              <img
                src="/img/icons/calendar.svg"
                width="24"
                height="24"
                alt="calendar icon"
              />
            </div>

            <div class="offer__fly-col">
              <span class="offer__fly-title">Successfully sent</span>
              <span class="offer__fly-desc">200+ send total</span>
            </div>
          </div>

          <div class="offer__fly-images">
            <img
              src="/img/icons/offer-person-1.svg"
              width="36"
              height="36"
              alt="offer-person-1 icon"
            />
            <img
              src="/img/icons/offer-person-2.svg"
              width="36"
              height="36"
              alt="offer-person-2 icon"
            />
            <img
              src="/img/icons/offer-person-3.svg"
              width="36"
              height="36"
              alt="offer-person-3 icon"
            />

            <div class="offer__fly-cross offer__icon">
              <img
                src="/img/icons/cross.svg"
                width="12"
                height="12"
                alt="cross icon"
              />
            </div>

          </div>

        </div>

        <div class="offer__fly-send">
          <img
            src="/img/icons/send.svg"
            width="149"
            height="150"
            alt="send icon"
          />
        </div>

      </div>

      <div class="offer__video-placeholder">

        <button class="btn offer__play-button">
          <img
            src="/img/icons/play-filled.svg"
            width="24"
            height="24"
            alt="play filled icon"
          />
        </button>
        <video
          class="offer__video"
          width="744"
          height="418"
          poster="/img/video-bg.webp"
          muted
        >
          <source src="/video/Rick's_Backstory_Music.mp4" type="video/mp4" />
        </video>
      </div>

    </div>

  </div>

</section>