<div class="offer container-fluid">

  <div class="container offer__content">
    <h1 class="offer__title">Have no fear of perfection, you'll never reach it.</h1>
    <p class="offer__desc">
      Create interactive user flow diagrams that tell a story.
    </p>

    <video
      class="video__offer"
      width="744"
      height="418"
      controls
      autoplay
      muted
      loop
    >
      <source src="/video/Rick's_Backstory_Music.mp4" type="video/mp4" />
    </video>
  </div>

</div>