<section class="container-fluid optimize">
  <div class="container optimize__content">
    <span class="section-dop-title">Optimize your payments</span>
    <h2 class="optimize__title section-title">
      Grow your revenue
    </h2>

    <div class="optimize-blocks">

      <div class="optimize__block optimize__block-improve">
        <h2 class="optimize__block-title">Improve analytics</h2>
        <p class="optimize__block-desc">
          By leveraging predictive modeling and cross-source data
          synchronization or anomaly detection algorithms, empowering teams to
          make data-driven decisions.
        </p>
        <img
          class="optimize__block-img img-responsive"
          src="/img/improve-analytics.webp"
          width="456"
          height="297"
          alt="Improve analytics img"
        />

        <ul class="optimize__list">
          <li class="optimize__list-item">
            Upgrade your customer experience instantly
          </li>
          <li class="optimize__list-item">
            Retain more, happier customers
          </li>
          <li class="optimize__list-item">
            Start with done-for-you account setup
          </li>
        </ul>
      </div>

      <div class="optimize__block optimize__block-max">
        <h2 class="optimize__block-title">Maximize acceptance</h2>
        <p class="optimize__block-desc">
          By using deception or false suggestions or suppression of truth or
          other unethical means, which are believed and relied upon by.
        </p>
        <img
          class="optimize__block-img img-responsive"
          src="/img/max-accept.webp"
          width="552"
          height="298"
          alt="Maximize acceptance img"
        />

        <ul class="optimize__list">
          <li class="optimize__list-item">
            Upgrade your customer experience instantly
          </li>
          <li class="optimize__list-item">
            Retain more, happier customers
          </li>
          <li class="optimize__list-item">
            Start with done-for-you account setup
          </li>
        </ul>
      </div>

    </div>

  </div>

</section>