<section class="container-fluid tariff">

  <div class="container tariff__content">

    <div class="tariff__info">
      <h2 class="tariff__title">Everything you need for
        <span class="tariff__title-spec">$99 a month</span></h2>
      <p class="tariff__desc">Includes every feature we offer plus unlimited
        projects and unlimited users</p>
    </div>

    <button class="btn btn__default btn__indigo btn__get-started">Get Started
      Now</button>

  </div>

</section>