@use "../variables" as *;
@use "../mixins" as *;

// Blocks

// Global
.offer {
  &__content {
    @include column;

    margin-top: 88px;
    margin-bottom: 86px;
  }

  &__title-wrap {
    position: relative;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 120%;

    text-align: center;

    margin: 0 auto;
    max-width: 921px;

    @media (max-width: $lg) {
      font-size: 2rem;
    }
  }

  &__desc {
    color: rgb(68, 68, 68);

    margin-top: 20px;

    font-size: 1.25rem;
    line-height: 120%;
    line-height: 180%;
    letter-spacing: 0px;
    text-align: center;

    @media (max-width: $lg) {
      font-size: 1.5rem;

      margin-top: 25px;
    }

    @media (max-width: $md) {
      font-size: 1.25rem;
    }

    @media (max-width: $sm) {
      font-size: 1rem;
    }

    &--mission {
      color: $white;

      font-size: 2.01rem;

      line-height: 150%;

      @media (max-width: $md) {
        font-size: 1.25rem;
      }

      @media (max-width: $sm) {
        font-size: 1rem;
        line-height: 130%;

        text-align: center;
      }
    }
  }

  // Icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Video
  &__play-button {
    border-radius: $border-rad-play;
    background: $white;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 72px;
    height: 72px;

    z-index: 2;

    &.active {
      display: none;
    }
  }


}
