@use "variables" as *;
@use "mixins" as *;

.btn {
  @include row;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;

  box-sizing: border-box;

  transition: $trans-default;

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    outline: 2px solid $grayscale-1;
    opacity: 0.7;
  }

  span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  &__default {
    box-sizing: border-box;

    max-width: 178px;

    height: 100%;
    min-height: 24px;

    @media (max-width: $lg) {
      min-height: 32px;
    }

    &:hover {
      background-color: $grayscale-1;
    }

    &:active {
      background-color: $grayscale-2;
    }
  }

  // Colors
  &__indigo {
    background-color: $indigo-500;

    color: $white;
  }

  &__white {
    background-color: $white;

    color: $indigo-500;

    &:hover {
      background-color: $dark;

      color: $white;
    }

    &:active {
      background-color: $grayscale-2;

      color: $gray;
    }
  }

  // Sign

  &__sign-in {
    background-color: $white;
    color: $grayscale-2;

    min-width: 96px;

    &:hover {
      background-color: $grayscale-1;

      color: $white;
    }

    &:active {
      background-color: $grayscale-2;
    }
  }

  &__sign-up {
    min-width: 102px;
  }

  &__subscribe {
    border-radius: $border-rad-2;
    background: $dark;

    color: $white;

    max-width: 318px;
    width: 100%;

    min-height: 50px;
  }

  &__sign-in,
  &__sign-up {
    border-radius: $border-rad-1;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    min-height: 40px;
  }

  &__sign-up-free {
    border-radius: $border-rad-tariff;

    min-height: 52px;

    max-width: 186px;
    width: 100%;
  }

  // Tariff
  &__get-started {
    border-radius: $border-rad-tariff;

    min-height: 52px;

    max-width: 195px;
    width: 100%;
  }
}
