@use "variables" as *;
@use "mixins" as *;

.footer {
  &__content {
    border-bottom: 2px solid $grayscale-3;
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;

    margin-top: 56px;
    margin-bottom: 37px;

    padding-bottom: 71px;

    @media (max-width: $lg) {
      margin-top: 36px;
      padding-bottom: 36px;
    }
  }

  &__info {
    @include column;
    gap: 21px;

    max-width: 360px;
    margin-right: 24px;

    @media (max-width: $lg) {
      max-width: 286px;
    }
  }

  &__desc {
    color: $grayscale-4;

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0px;
    text-align: left;
  }

  &__social {
    display: flex;
    gap: 32px;

    &-item {
      &:hover {
        filter: contrast(100%) brightness(5);
      }
    }
  }

  // Nav
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;

    width: 57.95%;

    @media (max-width: $lg) {
      width: 56.94%;
    }

    @media (max-width: $md) {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  &__nav-list {
    @include column;

    gap: 20px;

    @media (max-width: $sm) {
      width: 48.61%;
    }
  }

  &__nav-list-content {
    @include column;
    gap: 8px;
  }

  &__nav-txt {
    font-size: 0.875rem;
    letter-spacing: 0.8px;
    text-align: left;

    @media (max-width: $lg) {
      font-size: 0.75rem;
    }
  }

  &__nav-title {
    color: $grayscale-5;

    font-weight: 600;
    line-height: 170%;

    text-transform: uppercase;
  }

  &__nav-link {
    color: $grayscale-2;

    line-height: 180%;

    font-weight: 500;
  }

  // Rights
  &__rights {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
  }

  &__rights-content {
    color: $grayscale-4;

    font-size: 1rem;
    line-height: 180%;
    letter-spacing: 0px;
    text-align: center;
  }
}
